.bwp-meta-display-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.wp-block-buntywp-meta-display-block {
		// width: 100%;
		// align-items: center;

		&.is-front {
			width: auto;
		}
	}
}
